.ok{
    justify-content: center;
}
.corps{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 91%;
    height: 85px;
    margin-left: 60px;
    margin-top: 10px;
}
 .corps-fex{
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 150px;
    margin: 0px 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.corps-fex img{
    width: 50px;
    height: 50px;
}
.corps-1{
    display: flex;
    background-color: white;
    align-items: center;
    width: 91%;
    height: 300px;
    margin-left: 60px;
    margin-top: 20px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.corps-fex-1{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
    background-color: brown;
}
.corps-fex-1 img{
    width: 150px;
    height: 150px;
    
}

.corps-container{
    width: 91%;
    height: 320px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 60px;

}
.corps-box{
    max-width: 200px;
    height: 290px;
    display: flex;
    flex-grow: 0.5;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.corps-image{
    width: 150px;
    height: 150px;
    margin: 20px;
    cursor: pointer;
   
}
.corps-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.corps-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82.5%;
    padding: 10px 20px;
    border-top: 2px solid #f3f3f3;
    border-radius: 10px;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}
.corps-box:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}


.corps-box:hover {
    display: flex;
    background-color: whitesmoke;
    
}

.star-icon {
    color: #0b9d8a;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 20px;
}

/*contenu 2   titre arrivage */

.titre-arrivage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    margin-top: 20px;
}
.titre-arrivage strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
    font-size: 25px;
    width: 195px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius: 10px;*/
}
.titre-arrivage p{
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}